*.pyc
*.html
assets/
*.project
.pytest_cache/
.mypy_cache/
__pycache__/
.pydevproject
.pylintrc
.vscode/
.idea/
allure-report/
node_modules/
env/
*.swp
*.txt
os
pytest
signal
subprocess
test.json
fullCfg*
lastfailed
.mypy_cache
